.card {
  display: flex;
  gap: 2.4rem;
  overflow: hidden;

  & img {
    width: 10rem;
    height: 12.7rem;
  }

  &-num {
    display: block;
    height: 3rem;
    @include font(3.2rem, $grayish-blue, 100%, $font-weight-bold);
  }

  &-title {
    display: block;
    margin-top: 1.2rem;
    height: 2.7rem;
    overflow: hidden;
    white-space: nowrap;
    max-width: 22.6rem;
    text-overflow: ellipsis;
    transition: $transition-x1;
    @include font(1.8rem, $very-dark-blue, 150%, $font-weight-bold);

    @media screen and (max-width: $width-desktop) {
      max-width: 20.2rem;
      font-size: 1.5rem;
    }
  }

  &:hover &-title {
    color: $soft-red;
  }

  &-text {
    margin-top: 0.8rem;
  }
}
