.main {
  min-height: calc(100vh - $header-height - $footer-height);

  @media screen and (max-width: $width-desktop) {
    padding: 0 1.6rem;
  }

  &__top-container {
    padding-bottom: 7.2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

    @media screen and (max-width: $width-desktop) {
      display: block;
      padding-bottom: 6.5rem;
    }
  }

  &__bottom-container {
    padding-bottom: 7.2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

    @media screen and (max-width: $width-desktop) {
      padding-bottom: 6.5rem;
      height: max-content;
      display: flex;
      flex-direction: column;
      gap: 3.4rem;
    }
  }
}
