.footer {
  height: $footer-height;
  padding-top: 5.5rem;

  @media screen and (max-width: $width-switch-point) {
    padding-top: 2.8rem;
    height: $footer-height-mobile;
    padding-inline: 1.6rem;
  }

  &__attribution {
    display: flex;
    flex-direction: column;

    & a {
      color: $dark-grayish-blue;
      font-weight: $font-weight-medium;
      transition: $transition-x1;
    }

    & a:hover {
      color: $soft-red;
    }
  }
}
