*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-basic;
  font-family: "Inter", sans-serif;
  background-color: $off-white;
}

body {
  font-size: $font-size-p;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

li {
  list-style: none;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

#app {
  position: relative;
}

.container {
  max-width: $width-desktop;
  margin-inline: auto;

  @media screen and (max-width: $width-desktop) {
    max-width: $width-mobile;
  }
}

.text-default-p {
  @include font(1.5rem, $dark-grayish-blue, 160%, $font-weight-regular);
}
