.header {
  height: $header-height;
  position: relative;

  @media screen and (max-width: $width-desktop) {
    height: $header-height-mobile;
    padding: 2.8rem 1.6rem;
  }

  &__container {
    padding-top: 8.9rem;
    max-width: $width-desktop;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $width-desktop) {
      display: none;
    }
  }

  &__container-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $width-desktop) {
      display: flex;
    }
  }

  &__logo {
    height: 4rem;

    @media screen and (max-width: $width-desktop) {
      height: 2.8rem;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__menu-btn {
    width: 4.5rem;
    height: 2.8rem;
    background-color: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
}

.menu {
  display: flex;

  &__item {
    padding-left: 4rem;
  }

  &__link {
    transition: $transition-x1;
    @include font(1.5rem, $dark-grayish-blue, 150%, $font-weight-medium);
  }

  &__link:hover {
    color: $soft-red;
  }
}

.mobile-navigation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(1px) brightness(0.6);
  height: 0;
  transition: $transition-x1;

  @media screen and (max-width: $width-desktop) {
    display: block;
    opacity: 0;
    visibility: hidden;

    &_active {
      height: 100vh;
      opacity: 1;
      visibility: visible;
    }
  }

  &__container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25.6rem;
    background-color: $off-white;
    padding: 14.3rem 2.4rem 0 2.4rem;
  }

  &__close-btn {
    background-color: inherit;
    position: absolute;
    top: 2.7rem;
    right: 2rem;
    cursor: pointer;
  }

  &__item {
    margin-bottom: 2.1rem;
  }

  &__link {
    display: block;
    @include font(1.8rem, $very-dark-blue, 150%, $font-weight-medium);
  }
}

/* 
mobile-navigation_active
mobile-navigation__container_visible
*/
