.main {
  min-height: calc(100vh - $header-height - $footer-height);
  padding-bottom: 7.2rem;

  &__top-container {
    margin-bottom: 7.2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }

  &__bottom-container {
    height: 12.7rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

.main-article {
  grid-column: 1 / span 2;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

  &__img {
    grid-column: 1/-1;
  }

  &__top-title {
    grid-row: 2 / 4;
    grid-column: 1;
    padding-top: 0.5rem;
    @include font(5.6rem, $very-dark-blue, 100%, $font-weight-bold);
  }

  &__text {
    grid-row: 2;
    grid-column: 2;
    height: 10.3rem;
  }

  &__link-btn {
    grid-row: 3;
    grid-column: 2;
    display: grid;
    place-items: center center;
    height: 4.8rem;
    max-width: max-content;
    text-transform: uppercase;
    background-color: $soft-red;
    padding-inline: 3.2rem;
    letter-spacing: 0.35rem;
    transition: $transition-x1;
    @include font(1.5rem, $off-white, 150%, $font-weight-medium);
  }

  &__link-btn:hover {
    background-color: $very-dark-blue;
  }
}

.card {
  display: flex;
  gap: 2.4rem;

  &-num {
    display: block;
    height: 3rem;
    @include font(3.2rem, $grayish-blue, 100%, $font-weight-bold);
  }

  &-title {
    display: block;
    margin-top: 1.2rem;
    height: 2.7rem;
    transition: $transition-x1;
    @include font(1.8rem, $very-dark-blue, 150%, $font-weight-bold);
  }

  &:hover &-title {
    color: $soft-red;
  }

  &-text {
    margin-top: 0.8rem;
  }
}

.aside-bar {
  padding-inline: 2.4rem;
  background-color: $very-dark-blue;

  &__card {
    padding-block: 2.9rem;
    border-bottom: 1px solid $dark-grayish-blue;
  }

  &__card:last-child {
    border-bottom: none;
  }

  &__caption {
    margin-top: 3.2rem;
    @include font(4.1rem, $soft-orange, 100%, $font-weight-medium);
  }

  &__title {
    margin-bottom: 0.6rem;
    transition: $transition-x1;
    letter-spacing: 0.02rem;
    @include font(2rem, $off-white, 160%, $font-weight-medium);
  }

  &__card-inner:hover &__title {
    color: $soft-orange;
  }

  &__text {
    letter-spacing: 0.01rem;
    @include font(1.5rem, $grayish-blue, 160%, $font-weight-regular);
  }
}
