@mixin font(
  $font-size,
  $font-color: black,
  $font-line: 100%,
  $font-weight: $font-weight-regular
) {
  font-size: $font-size;
  color: $font-color;
  line-height: $font-line;
  font-weight: $font-weight;
}
