/* Typography */

$font-size-basic: 10px;

$font-weight-regular: 400;
$font-weight-medium: 700;
$font-weight-bold: 800;

@font-face {
  font-family: "Inter";
  src: url("./fonts/static/Inter-Regular.ttf");
  font-weight: $font-weight-regular;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/static/Inter-Bold.ttf");
  font-weight: $font-weight-medium;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/static/Inter-ExtraBold.ttf");
  font-weight: $font-weight-bold;
}

$font-size-p: 1.5rem;
$font-size-h1: 5.6rem;

/* Layout */

$width-mobile: 375px;
$width-desktop: 1110px;
$width-switch-point: 1127px;

$width-mobile-menu: 256px;

$header-height: 18.4rem;
$header-height-mobile: 8.8rem;
$footer-height: 12rem;
$footer-height-mobile: 8.8rem;

/* Colors */

$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

/* Transition time */

$transition-x1: 0.2s;
